body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b71c1c; 
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    z-index: 5;
    position: relative; /* Necessário para o posicionamento do botão */
}

.logo-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 20px;
    position: relative;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s ease; 
    margin-left: 8.5rem;
    margin-right: 8.5rem;
}


nav ul li a:hover {
    background-color: #ff5252; 
    border-radius: 5px; 
    text-decoration: none; 
}

.order-button {
    position: absolute;
    right: 40.5rem; 
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff6f6f; 
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    text-align: center;
    margin-top: 10rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 10; 
}

.order-button:hover {
    background-color: #ff5252; 
    transform: translateY(-50%) scale(1.05);
}

.order-button:active {
    background-color: #ff1744; 
    transform: translateY(-50%) scale(0.95); 
}

.titulo h1 {
    font-size: 36px;
    color: #b71c1c; 
    text-align: center;
    margin: 20px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.imagem img {
    height: 60rem;
    margin-top: -40px;
    display: flex;
}

.descricao {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #000000; 
}

.menu-section {
    margin: 20px;
    text-align: center;
}

.menu-title {
    font-size: 40px;
    color: #b71c1c; 
    margin-bottom: 20px;
}

.menu-list {
    padding: 20px;
    background-color: #bea264; 
    border-radius: 10px;
}

.menu-list h3 {
    font-size: 24px;
    color: #b71c1c; 
}

.menu-list li {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    align-items: center;
}

.menu-list li strong {
    font-size: 20px;
    margin-bottom: 5px;
}

.menu-img {
    width: 100px;
    height: 100px;
    margin-right: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 

}
.menu-img:hover {
    transform: scale(1.1);
}

.menu-block {
    background-color: #f9f9f9; 
    border: 2px solid #333; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 800px; 
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1200px;
    padding: 40px;
    background-color: #f4f4f4;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.form-block, 
.map-container {
    flex: 1;
    margin: 20px;
    padding: 25px;
    margin-top: 3rem;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}
.form-block {
    border: 3px solid #b71c1c; 
    padding: 40px;
    position: relative;
}

.form-block::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 15px;
    z-index: 1; 
}

.contact-form {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    background-color: #fafafa;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #b71c1c;
    box-shadow: 0 0 8px rgba(183, 28, 28, 0.4);
    background-color: #fff;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #b71c1c;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.contact-form button:hover {
    background-color: #d32f2f;
    box-shadow: 0 5px 10px rgba(211, 47, 47, 0.3);
}
.obrigada {
    margin-top: 20px;
    font-size: 20px;
    color: #4c4c4c;
    font-weight: 500;
    text-align: center;
}
.map-container a:hover {
    text-decoration: underline;
    color: #d32f2f;
}

/* Estilo para setas de navegação */
.navigation-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

.navigation-arrows-index {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 109rem;
}

.arrow {
    text-decoration: none;
    font-size: 1.5rem; 
    color: #d3c9c9; 
    padding: 8px 20px; 
    border: 2px solid #b71c1c; 
    border-radius: 50px; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.arrow:hover {
    background-color: #b71c1c;
    color: #fff; 
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.menu-list h3 {
    font-size: 40px;
    border-bottom: 3px solid #b71c1c;
}
.logo-circle {
    max-width: 10rem;
    max-height:10rem;
    border-radius: 50%;
}

.menu-title {
    margin: 0 0 20px 0; 
    font-size: 2em; 
    color: #cc4242; 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 800px; 
}

.title-contact {
    margin: 0 0 20px 0; 
    font-size: 2em; 
    color: #cc4242; 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 10px; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 20px auto; 
    max-width: 800px; 
}
footer {
    text-align: center;
    padding: 20px;
    color: white;
    margin-top: 20px;
    flex-direction: column;
    background-color: #b71c1c; 
}

footer p{
    color: #f0f0f0;
    font-size: 1.1rem;
}

footer .social-icon {
    margin: 0 10px;
}

footer .social-icon img {
    width: 40px;
    height: 40px;
    border-radius: 5%;
}

/* Para telas menores que 1200px (até 788px também) */
@media (max-width: 1500px) {
    .responsive-image {
        display: none; /* Esconde a segunda imagem */
    }
}

/* Para telas menores que 768px */
@media (max-width: 1124px) {
    header {
        padding: 10px;
        font-size: 16px;
    }
    nav ul li a {
        font-size: 1rem;
    }
    nav ul {
        align-items: center; 
        flex-direction: column;
    }

    #home h1, #contato h1, #menu h1 {
        font-size: 4em;
    }

    #home p, #contato p, #menu p {
        font-size: 1.1em;
    }

    .fixed-image {
        width: 80px;
        height: 80px;
        top: 10px;
        left: 20px;
    }
}

/* Para telas menores que 480px (500px incluído) */
@media (max-width: 480px) {
    header {
        padding: 10px;
        font-size: 16px;
    }

    .telaindex{
        width: 80px;
        height: 80px;
        top: 10px;
        left: 20px;
    }
    nav ul {
        flex-direction: column; 
        align-items: center; 
    }

    nav ul li {
        margin: 5px 0; 
    }

    #home h1, #contato h1, #menu h1 {
        font-size: 3em;
    }

    #home p, #contato p, #menu p {
        font-size: 1em;
    }

    footer p {
        font-size: 1.2rem;
    }
}
